<template>
	<div id="app">
		<Error-modal></Error-modal>
		<App-nav></App-nav>
		<router-view class="page" />
	</div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import AppNav from "@/components/AppNav.vue";
import { userStore } from "@/store/user-store";
import ErrorModal from "@/components/ErrorModal.vue";

@Component({
	components: {
		AppNav,
		ErrorModal,
	},
})
export default class App extends Vue {
	created() {
		userStore.tryAutoLogin();
	}
}
</script>

<style lang="scss">
@import "./assets/styles/global.scss";
.page {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - 56px);
}
</style>
