<template>
	<div>
		<h2>Authentifizierung erfolgreich</h2>
		<h1>Dashboard</h1>
		<template v-if="!isLoading">
			<EventCard v-for="event in events" :key="event.id" :event="event" />
		</template>
		<p v-else>
			Loading events
		</p>
	</div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import EventCard from "../components/EventCard.vue";
import { IEvent } from "@/interfaces/event";
import { eventService } from "@/services/event-service";
import { userStore } from "@/store/user-store";
import { eventStore } from "@/store/event-store";
import { appStore } from "@/store/app-store";

@Component({
	components: {
		EventCard,
	},
})
export default class Dashboard extends Vue {
	get isLoading() {
		return appStore.getIsLoading;
	}

	get events() {
		return eventStore.getEvents;
	}

	async created() {
		eventStore.fetchEvents();
	}
}
</script>
