<template>
	<div class="home">
		<h1>Willkommen zu einer kleinen JWT register/login App!</h1>
		<p>
			Eingesetzte Technologien.
		</p>
		<ul>
			<li>Vue.js mit Typescript</li>
			<li>Node.js/Nest.js</li>
			<li>Mongoose</li>
			<li>JWT Passport</li>
		</ul>
		<div v-if="!loggedIn">
			Bitte logge dich ein oder erstelle einen Account.
			<br />
			<router-link :to="{ name: 'login' }">
				Login
			</router-link>
			oder
			<router-link :to="{ name: 'register' }">
				Registrieren
			</router-link>
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { userStore } from "@/store/user-store";

@Component
export default class Home extends Vue {
	get loggedIn() {
		return userStore.loggedIn;
	}
}
</script>

<style scoped lang="sass">
li
	text-align: left

a:visited
	color: #2c3e50
</style>
