<template>
	<div class="links">
		<form @submit.prevent="login">
			<label for="email">
				Email:
			</label>
			<input id="email" v-model="user.email" type="email" name="email" value />

			<label for="password">
				Password:
			</label>
			<input id="password" v-model="user.password" type="password" name="password" value />

			<button type="submit" name="button">
				Login
			</button>
		</form>
		<div>
			Hast du noch keinen Account?
			<router-link :to="{ name: 'register' }">
				Registrieren
			</router-link>
		</div>
	</div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { userStore } from "@/store/user-store";
import { ILoginDTO } from "@/interfaces/auth";

@Component({})
export default class LoginUser extends Vue {
	user: ILoginDTO = {
		email: "",
		password: "",
	};

	async login() {
		const user = await userStore.loginUser(this.user);
		this.$router.push({ name: "dashboard" });
	}
}
</script>

<style lang="sass">

.links
	a, a:visited
		color: #2c3e50
</style>
