<template>
	<div>
		<form @submit.prevent="register">
			<label for="name">
				Name:
			</label>
			<input id="name" v-model="user.name" type="text" name="name" value />

			<label for="email">
				Email:
			</label>
			<input id="email" v-model="user.email" type="email" name="email" value />

			<label for="password">
				Password:
			</label>
			<input id="password" v-model="user.password" type="password" name value />

			<button type="submit" name="button">
				Register
			</button>
		</form>
		<div class="links">
			Hast du bereits einen Account?
			<router-link :to="{ name: 'login' }">
				Login
			</router-link>
		</div>
	</div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { userStore } from "@/store/user-store";
import { IRegisterDTO } from "@/interfaces/auth";

@Component({})
export default class RegisterUser extends Vue {
	user: IRegisterDTO = {
		name: "",
		email: "",
		password: "",
	};

	async register() {
		const user = await userStore.registerUser(this.user);
		this.$router.push({ name: "dashboard" });
	}
}
</script>

<style lang="sass">
.links
	a, a:visited
		color: #2c3e50
</style>
