<template>
	<div id="nav">
		<router-link to="/" class="nav-link">
			Home
		</router-link>
		<router-link to="/dashboard" v-if="loggedIn" class="nav-link">
			Dashboard
		</router-link>
		<router-link :to="{ name: 'login' }" class="button" v-if="!loggedIn">
			Login
		</router-link>
		<button class="btn logoutButton" v-else @click="logout">
			Logout
		</button>
	</div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { userStore } from "@/store/user-store";

@Component({})
export default class AppNav extends Vue {
	get loggedIn() {
		return userStore.loggedIn;
	}

	logout() {
		userStore.logout();
	}
}
</script>

<style lang="scss" scoped>
#nav {
	display: flex;
	align-items: center;
	min-height: 50px;
	padding: 0.2em 1em;
	background: linear-gradient(to right, #0b5468, #2d6f91);
}

.nav-welcome {
	margin-left: auto;
	margin-right: 1rem;
	color: white;
}

a {
	font-weight: bold;
	color: #fff;
	margin: auto 0.8em auto 0.4em;
	text-decoration: none;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
}

.router-link-exact-active {
	color: white;
	border-bottom: 2px solid #fff;
}

button,
.button {
	margin-left: auto;
	background: white;
	text-decoration: none;
	color: #2c3e50;

	&.router-link-active {
		color: #fff;
	}
}

.logoutButton {
	cursor: pointer;
	background: #2c3e50;
	color: #fff;
}

.nav-welcome + button {
	margin-left: 0;
}

#nav {
	a,
	a:visited {
		color: #2c3e50;
	}

	.nav-link,
	.nav-link:visited {
		color: #fff;
	}
}
</style>
