<template>
	<!--	<div v-if="errorData.active" class="error-modal">-->
	<div class="error-modal" :class="{ active: errorData.active }">
		<h1>Versuche es nochmal.</h1>
		<h3>{{ errorData.message }}</h3>
	</div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { errorStore } from "@/store/error-store";

@Component({})
export default class ErrorModal extends Vue {
	hasError: false;

	get errorData() {
		return errorStore.getErrorData;
	}
}
</script>

<style lang="sass" scoped>

.error-modal
	position: fixed
	left: 0
	right: 0
	top: 0
	margin: auto
	width: 50%
	max-width: 40rem
	padding: 4rem
	box-shadow: 0 10px 8px rgba(0, 0, 0, 0.08), 0 4px 5px rgba(0, 0, 0, 0.06)
	background-color: transparentize(#F0F4F7, .05)
	transform: translate3d(0, -120%, 0)
	transition: transform .6s cubic-bezier(.61, -0.16, .53, .99)

	&.active
		transform: translate3d(0, 10%, 0)
</style>
